@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Global Variables */
:root{
    --line-border-fill: #58c158;
    --line-border-empty: #75b416;
}

*{
    box-sizing: border-box;
}

/* Basic Reset */
body {
    background-color: #008000;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    text-align: center; 
}

/* Title styling */
.title {
    position: relative; 
    top: 0;
    text-align: center;
    justify-content: space-between;
    color: white;
    padding: 6px 12px;
    background: #00000026;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 28px;
}

/* Progress Bar Container */
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

/* Progress Bar */
.progress::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

/* Progress Bar Fill */
.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

/* Each circle */
.circle {
    background-color: lightblue;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
    z-index: 2;
}

/* Active circle */
.circle.active {
    border-color: var(--line-border-fill);
}

/* Button styling */
.btn {
    background: var(--line-border-fill);
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

/* Button hover and active states */
.btn:active {
    transform: scale(0.98);
}

/* Remove outline on focus */
.btn:focus {
    outline: 0;
}

/* Disabled button state */
.btn:disabled {
    background : var(--line-border-empty);
    cursor: not-allowed;
}

/* Credit styling */
.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 14px;
  font-weight: bolder;
}